<h3>Lista Plus</h3>

<!-- (addTarea)= Evento definido en el hijo y al recibirlo el padre ejecutará el método addTarea() al que se le manda el evento -->
<aby-nueva-tarea (addTarea)="addTarea($event)"></aby-nueva-tarea>

<div *ngIf="aTareas.length; else templateNo2">   
  
        <div class="mt-4">
             <h4>Tareas</h4>
                <ul>
                <!-- [ngClass] Aplicar una clase dependiendo de una condición -->
                    <li *ngFor="let tarea of aTareas; let i = index;"
                    [ngClass]="{ completado: tarea.isCompleted }"> 
                    <aby-mostrar-tarea></aby-mostrar-tarea>
                    </li>
                </ul>
        </div>
    </div> 
        
    <ng-template #templateNo2>
        <div class="mt-4">
            <p>Inserte alguna tarea</p>
        </div>        
    </ng-template>
    


