<h2>Detalles del Libro</h2>

<table class="table">
    <tbody>
        <tr>
            <td>ID:</td>
            <td>{{ data.id }}</td>
        </tr>
        <tr>
            <td>Autor:</td>
            <td>{{ data.autor }}</td>
        </tr>
        <tr>
            <td>Título:</td>
            <td>{{ data.title }}</td>
        </tr>
        <tr>
            <td>Descripción:</td>
            <td>{{ data.description }}</td>
        </tr>
    </tbody>
</table>
<button (click)="clickVolver()">Volver</button>
